<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
</head>

<body>

    <h1>Welcome to Text Analyzer... Enter Your text Below</h1>

    <form action="/removePunch" method="get">
        <textarea name="text" cols="30" rows="10" style="margin: 0px; width: 729px; height: 122px;"></textarea> <br>
        <input type="checkbox" name="removePunc">Remove Punctuation </input> <br>
        <input type="checkbox" name="upperCase">UpperCase </input> <br>
        <input type="checkbox" name="newLineRemover">New Line Remover</input> <br>
        <input type="checkbox" name="extraSpaceRemover">Extra Space Remover </input> <br>
        <input type="checkbox" name="charCounter">Character Counter </input> <br><br>
        <input type="submit" value="Analize Text">
    </form>
</body>


</html>